@import "init.scss";
@import "variables.scss";
@import "settings.scss";
@import "inputs.scss";
@import "grid.scss";
@import "flex.scss";
@import "nav.scss";

h1 {
    color:map-get($colors, "primary");
}

h2 {
    color:map-get($colors, "primary-lighter");
}

h3 {
    color:map-get($colors, "secondary-darker");
}

h4 {
    color:map-get($colors, "dark");
}

h5, h6 {
    color:map-get($colors, "dark-mid");
}

nav a {
    text-decoration: none;
}

.selected-menu {
    background-color:map-get($colors, "secondary-darker");
}

.dismiss {
    width:20px;
    height:20px;
    border-radius: 100%;
    background-color: map-get($colors, "dark");
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}